* {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.education-entry, .work-entry, .project-entry {
  padding: 10px 100px;
}

h1 {
  font-size: 40px;
  color: #1E90FF;
  line-height: 48px;
  display: inline;
  font-weight: normal;
  margin: 0 15px 0 0;
}

h2 {
  font-style: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px 0 0 60px;
}

h3 {
  font-size: 20px;
  color: #000000;
  line-height: 22px;
  padding: 20px 0 0 60px;
}

h4 {
  font-style: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

hr {
  border: 1px solid yellow;
  margin: 10px 0;
}

.date-text {
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  line-height: 1.4;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-weight: 300;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#bio-skills {
  height: 100%;
  margin: 0 20%;
}

#skillsH3 {
  color: #1E90FF;
  margin-top: 10px;
  display: none;
}

#skills {
  display: none;
}

.orange {
  background-color: #F5AE23;
}

.blue-label {
  color: #1E90FF;
  padding: 0 10px 0 0;
}

.white-text {
  font-weight: 300;
  color: #fff;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
  padding: 60px;
}

#role {
  font-size: 29px;
  font-weight: 300;
  color: white;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 5px 20px 0 0;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}


/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}


#letsConnect {
  text-align: center;
}

#topContacts {
  margin: 0 0 10px 0;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 12%;
}

.marker-text {
  font-weight: bold;
  color: blue;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }
}
